<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>

<style>
    body {
        background-image: url('https://wallpaper.dog/large/10754569.jpg');
        background-repeat: no-repeat;
        width: 900px;
        height:50px;
    }
</style>
<body>

<form th:action="@{/save}" method="post" th:object="${sepet}" th:align="center">

<div align = "center" >
    <h2 >Alışveriş Sepeti</h2>

    <tr>
        <div class="col-sm-7" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table table-striped ">
                    <thead >
                    <tr>
                        <th>Ürün ID</th>

                        <th>Ödeme</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="sepet : ${sepetList }">
                        <td th:text="${sepet.id}">Ürün ID</td>

                        <td>
                            <a  th:href="@{'/ode/'}">Sepete Ekle</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </tr>

    </tbody>
    </table>
</div>
</body>
</html>